* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}


header,
footer {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 1.5em;
}

/* Banner */
.banner {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-top: 1em;
    border-radius: 8px;
}


.gallery {
    margin-top: 2em;
}

.gallery h2 {
    margin-bottom: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #555;
}
